<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="google-site-verification" content="N9dbkc8Xy6Zj2uC2FoHsY9-LQN9oN4hOQn2Y4gFoKhg" />
    <META name="y_key" content="94c4017a5857a012">
    <meta name="msvalidate.01" content="99A1B75E97689D5C3D700A4B56D89B7C" />
    <link href="/css/main.css" media="screen" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div id="content">
      <img src="/images/jerry.gif" width="300" height="90" alt="Jerry"><br/><br/>
      <a href="http://disruptiveventures.com" title="Disruptive Ventures, Inc."><img src="/images/dv.png" width="64" height="64" alt="Disruptive Ventures, Inc."></a>
      <a href="http://blog.jerryr.com" title="Jerry's Blog on Tumblr"><img src="/images/Chrome-Tumblr-64.png" width="64" height="64" alt="Jerry's Blog on Tumblr"></a>
      <a href="http://twitter.com/jerry" title="@jerry on Twitter"><img src="/images/Chrome-Twitter-64.png" width="64" height="64" alt="@jerry on Twitter"></a>
      <a href="http://facebook.com/jerrywrichardson" title="jerrywrichardson on facebook"><img src="/images/Chrome-Facebook-64.png" width="64" height="64" alt="jerrywrichardson on facebook"></a>
      <a href="http://github.com/jerry" title="jerry on github"><img src="/images/Chrome-github-64.png" width="64" height="64" alt="jerry on github"></a>
      <a href="http://last.fm/user/miraclebaby" title="miraclebaby on last.fm"><img src="/images/Chrome-Lastfm-64.png" width="64" height="64" alt="miraclebaby on last.fm"></a>
      <a href="http://www.linkedin.com/in/jerrywrichardson" title="jerrywrichardson on LinkedIn"><img src="/images/Chrome-Linkedin-64.png" width="64" height="64" alt="jerrywrichardson on LinkedIn"></a>
      <a href="http://vimeo.com/jwr" title="jwr on vimeo"><img src="/images/Chrome-Vimeo-64.png" width="64" height="64" alt="jwr on Vimeo"></a>
      {{ content }}
    </div>
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4f79e0cbf5a1f5322100008e');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
      })();
    </script>
  </body>
</html>
